APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

FACEBOOK_ID=1482367088760080
FACEBOOK_SECRET=0ae46a3ed6338f671b7f1f0f8e650d73
FACEBOOK_REDIRECT=http://laravolt.dev/auth/facebook/callback

GITHUB_ID=13a90d28a0c4c7037f1e
GITHUB_SECRET=07ba9d2d05972873f7876f109449e9c0b425b975
GITHUB_REDIRECT=http://laravolt.dev/auth/github/callback

GITHUB_ID=13a90d28a0c4c7037f1e
GITHUB_SECRET=07ba9d2d05972873f7876f109449e9c0b425b975
GITHUB_REDIRECT=http://laravolt.dev/auth/github/callback
