#layout-frontend {
    min-height: 500px;
}
.page-component {
    margin-top: 40px;
}
h2.header.title {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}
.ui.segment.fitted {
    padding: 0;
}
.ui.segment.fitted > table.ui.table {
    border: 0 none;
}
